# Ignorar node_modules ya que se instalarán en el contenedor
node_modules
npm-debug.log
yarn-error.log

# Ignorar archivos de entorno
.env

# Ignorar archivos de logs
*.log

# Ignorar directorios de pruebas y cobertura de pruebas
coverage
tests
test
__tests__
__mocks__

# Ignorar archivos de configuración de la herramienta de construcción
.gitattributes
.gitignore
.git

# Ignorar archivos de documentación y de proyecto
README.md
*.md

# Ignorar archivos temporales y de sistema
*.swp
.DS_Store
Thumbs.db
